@use './variables' as *;

.about {
    height: 70vh;
    background-color: $grey;
}

.about h2 {
    color: $blue;
    font-style: italic;
    font-size: 5rem;
    padding-top: 5rem;
}

.about p {
    text-align: center;
    width: 80%;
    line-height: 2rem;
    padding-bottom: 2rem;
}

.aboutFlex {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 880px){
    .aboutFlex {
        padding-top: 1rem;
    }
}

@media (max-width: 750px){
    .about {
        height: 80vh;
    }
}

@media (max-width: 620px){
    .aboutFlex {
        padding-top: 2rem;
    }
}

@media (max-width: 550px){
    .about h2 {
        font-size: 4.5rem;
    }
    .about {
        height: 90vh;
    }
}

@media (max-width: 470px){
    .about h2 {
        padding-top: 3rem;
    }
    .about {
        height: 100vh;
    }
}

@media (max-width: 425px){
    .about h2 {
        text-align: center;
        line-height: 4rem;
        margin-bottom: 1rem;
    }

}

@media (max-width: 385px) {

    .about h2 {
        padding-top: 4rem;
    }

    .about {
        height: 110vh;
    }
}