@use './variables' as *;

.contact {
    min-height: 100vh;
    background-color:$blue ;
}

.contactForm2 {
    display: none;
}

.contact h2 {
    color: $grey;
    font-size: 5rem;
    font-style: italic;
    padding-top:2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.contactTextFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p {
    color: $grey;
    font-size: 1.2rem;
    max-width: 50ch;
    text-align: center;
}

.formFlex {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individualFormFlex {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form {
    padding-top: 2rem;
    padding-right: 2rem;
}

label {
    color: $grey;
    padding-bottom: .5rem;
}

textarea {
    font-size: .8rem;
}

.submitButton {
    background-color: $beige;
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

// prevent default behaviour on button

@media (max-width: 870px) {
    .contactForm1 {
        display: none;
    }
    .contactForm2 {
        display: inline-block;
        width: 100%;
    }

}

@media (max-width: 520px){
    textarea {
        font-size: .7rem;
    }
}

@media (max-width: 480px){
    textarea {
        font-size: .5rem;
    }
    .nameText {
        font-size: .7rem;
    }

    .emailText {
        font-size: .7rem;
    }
}