@use './variables' as *;

.contact {
    min-height: 100vh;
    background-color:$blue ;
}

.contact h2 {
    color: $grey;
    font-size: 5rem;
    font-style: italic;
    padding-top:2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.contactTextFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p {
    color: $grey;
    font-size: 1.2rem;
    max-width: 50ch;
    text-align: center;
}