@use './variables' as *;

//font-family: 'Playfair Display', serif;

header{
    height: 100vh;
    background-color: $darkBlue;
    font-family: 'Playfair Display', serif;
}


.navFlex {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.navFlex li {
    color: $grey;
    padding: 1rem;
}

//Make nav bar hamburger menu, add animation to links, and hover/visited styling