@use'./variables' as *;

.header {
    margin-right: 3rem;
    margin-left: 3rem;
    padding-top: 25px;
}

.socialLink {
    padding-left: 25px;
}


.navFlex {
    display:flex;
    justify-content: flex-start;
    text-align: left;
    
}
.homeLink {
    font-size: 1.6rem;
    color: $white;
    text-decoration: none;
    flex: 1;
    margin: auto;
}

