@use './variables' as *;

.projects {
    min-height: 150vh;
    background-color: $grey;
}

.projects h2 {
    color: $darkBlue;
    font-size: 5rem;
    font-style: italic;
    padding-top:2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.project1{
    height: 33%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $lightBlue;
}

.projectImage {
    width: 50%;
    box-shadow: -10px -5px 25px $black;
    margin-bottom: 1rem;
}

.projectText {
    width: 45%;
}

.projectText h3 {
    font-size: 1.3rem;
}

.projectText h4{
    font-size: .9rem;
    color: $darkBlue;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.projectText p {
    font-weight: 400;
    max-width: 30ch;
    line-height: 1.5rem;
}

.projectLinks {
    width: 50%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}


.projectLinks a {
    width: 6rem;
    height: 2rem;
    background-color: $beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.project2 {
    height: 33%;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $lightBlue;
}

.project3 {
    height: 33%;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    .projectLinks {
        width: 60%;
    }
}

@media (max-width: 1060px){
    .projectLinks {
        width: 70%;
        margin-bottom: 1rem;
    }
}

@media (max-width: 880px) {
    .project1, .project2, .project3 {
        flex-direction: column;
        align-items: center;
    }
    .project2 .projectImage {
        order:1
    }

    .project2 .projectText {
        order: 2;
    }

    .projectText {
        text-align: center;
    }

    .projectLinks {
        width: 100%;
    }
}

@media (max-width: 800px){
    .projectImage {
        width: 60%;
    }
}

 @media (max-width: 650px) {
    .projectImage {
        width: 70%;
    }
 }

 @media (max-width: 610px) {
    .projectLinks {
        flex-direction: column;
        align-items: center;
    }

    .projectLinks a {
        margin-bottom: 1rem;
    }
 }

 @media (max-width: 550px) {
    .projectImage {
        width: 80%;
    }
 }

 @media (max-width: 470px) {
    .projectImage {
        width: 90%;
    }
 }

 @media (max-width: 400px) {
    .projectImage {
        width: 100%;
    }
    .projects h2 {
        font-size: 4rem;
    }
 }