@use './variables' as *;

.projects {
    min-height: 150vh;
    background-color: $grey;
}

.projects h2 {
    color: $darkBlue;
    font-size: 5rem;
    font-style: italic;
    padding-top:2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.project1{
    height: 33%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $lightBlue;
}

.project1Image {
    width: 50%;
    box-shadow: -10px -5px 25px $black;
    margin-bottom: 1rem;
}

.project1Text {
    width: 45%;
}

.project1Text h3 {
    font-size: 1.3rem;
}

.project1Text h4{
    font-size: .9rem;
    color: $darkBlue;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.project1Text p {
    font-weight: 400;
    max-width: 30ch;
    line-height: 1.5rem;
}

.project1Links {
    width: 50%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.project1Links a {
    width: 6rem;
    height: 2rem;
    background-color: $beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}