@use './variables' as *;

.projects {
    height: 150vh;
    background-color: $grey;
}

.projects h2 {
    color: $darkBlue;
    font-size: 5rem;
    font-style: italic;
    padding-top:2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.project1{
    height: 33%;
}

.project1Image {
    width: 50%;
    box-shadow: -10px -5px 25px $black;
}