@use './variables' as *;

.skills {
    min-height: 50vh;
    background-color: $lightBlue;
}

.skillsFlex {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h2 {
    color: $black;
    font-style: italic;
    font-size: 5rem;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

.skills ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconsFlex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}

@media (max-width: 980px){

    .skills {
        height: 60vh;
    }

    .skills h2 {
        padding-top: 4rem;
    }

    .skills ul li {
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width: 560px) {
    .skills {
        height: 80vh;
    }
}

@media(max-width: 380px) {
    .skills {
        height: 90vh;
    }

    .skills h2 {
        padding-top: 6rem;
    }
}

@media (max-width: 335px) {
    .skills {
        height: 100vh;
    }
}