
@use'./variables' as *;
@use'./header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 125%;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: $black;
    color: $white;
    font-size: .9rem;
    line-height: 1.4rem;
}

a {
    transition: color 250ms ease-in-out;
}

a:hover, a:focus {
    color: $green;
}

.wrapper {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

// @media (max-width: 600px){
//     .socialLink {
//         padding-right: 25px;
//     }
// }

@media (max-width: 380px) {
    .navFlex{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 20px 25px;
    }

    .socialLink {
        padding: 0;
    }

    .homeLink {
        flex: 1 0 100%;
    }

    .header {
        padding-top: 25px;
    }
}